#####################################################################
#   LED Control
#####################################################################

#####################################################################
# Stealth Bed Front Lighting - Kirigami Bed
#####################################################################

[output_pin he_leds]
## HotEnd Lighting - he_leds
pin: PA1
pwm:true
shutdown_value: 0
value:0
cycle_time: 0.01

[neopixel neo]
## RGB light installed on bed mount
pin: PA8
chain_count: 1
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.05


[gcode_macro _LOGO_PINK]
gcode:
  SET_LED LED=neo RED=0.2 GREEN=0.0 BLUE=0.2 WHITE=0

[gcode_macro _LOGO_GREEN]
gcode:
  SET_LED LED=neo RED=0.0 GREEN=0.2 BLUE=0.0 WHITE=0

[gcode_macro _LOGO_YELLOW]
gcode:
  SET_LED LED=neo RED=0.3 GREEN=0.1 BLUE=0.0 WHITE=0

[gcode_macro _LOGO_RED]
gcode:
  SET_LED LED=neo RED=0.3 GREEN=0.0 BLUE=0.0 WHITE=0

[gcode_macro _LOGO_BLUE]
gcode:
  SET_LED LED=neo RED=0.0 GREEN=0.0 BLUE=0.4 WHITE=0

[gcode_macro _LOGO_WHITE]
gcode:
  SET_LED LED=neo RED=0.0 GREEN=0.0 BLUE=0.0 WHITE=0.05

[gcode_macro LOGO_OFF]
gcode:
  SET_LED LED=neo RED=0 GREEN=0 BLUE=0 WHITE=0

[gcode_macro HOTEND_WHITE_ON50]
gcode:
  SET_PIN PIN=he_leds VALUE=0.5

[gcode_macro HOTEND_WHITE_ON100]
gcode:
  SET_PIN PIN=he_leds VALUE=0.9

[gcode_macro HOTEND_WHITE_OFF]
gcode:
  SET_PIN PIN=he_leds VALUE=0.0